@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

a, li {
  transition: 0.5s;
}

.btn:hover {
  background-color: rgba(255, 204, 40, 0.8);
}

/*Внешние блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "FuturaPTBook", sans-serif;
  overflow-x: hidden;
}

.header {
  padding-top: 29px;
  padding-bottom: 32px;
  background-color: #fff;
}

.header__h-nav {
  padding-top: 12px;
}

.header__h-phone {
  display: block;
  text-align: right;
}

.header__h-basket {
  display: block;
  text-align: right;
}

.page__dost {
  padding-top: 85px;
}

.page__prods {
  padding-top: 85px;
}

.page__p-prods {
  padding-bottom: 30px;
}

.page__p-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}

.page__tabs {
  padding-bottom: 128px;
}

.page__p-tabs {
  text-align: center;
}

.page__open {
  background-image: url(../img/section-open.jpg);
  background-size: cover;
  position: relative;
  padding-top: 38px;
  padding-bottom: 14px;
}

.page__open::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 33, 39, 0.95);
}

.page__p-open {
  z-index: 20;
  position: relative;
}

.page__articles {
  padding-top: 140px;
  padding-bottom: 110px;
}

.page__p-articles {
  padding-bottom: 30px;
}

.page__about {
  background-image: url(../img/about.jpg.jpg);
  background-size: cover;
  position: relative;
  padding-top: 88px;
  padding-bottom: 62px;
}

.page__about::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 33, 39, 0.95);
}

.page__p-about {
  position: relative;
  z-index: 2;
}

.page__contact {
  position: relative;
}

.page__contacts {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.footer {
  background-color: #1c2127;
  padding: 21px 0 22px 0;
}

.footer__f-nav {
  padding-top: 20px;
}

.footer__f-info {
  padding-top: 20px;
  margin-left: 47px;
  margin-right: -47px;
}

.footer__f-social {
  padding-top: 20px;
  text-align: right;
  display: block;
}

.footer__f-copy {
  padding-top: 32px;
  display: block;
  text-align: right;
  color: #fff;
  opacity: .38;
  font-size: 12px;
  line-height: 18px;
  font-family: "FuturaPTBook", sans-serif;
}

/*Компоненты*/
.h-nav {
  font-size: 0;
}

.h-nav__item {
  display: inline-block;
  padding-right: 35px;
}

.h-nav__item:last-child {
  padding-right: 0;
}

.h-nav__link {
  font-family: "FuturaRegular", sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.h-nav__link:hover {
  color: #ffcc28;
  text-decoration: none;
}

.h-nav .active .h-nav__link {
  color: #ffcc28;
  text-decoration: none;
}

.h-nav__button {
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/burger.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.h-phone {
  padding-left: 42px;
  position: relative;
  text-align: right;
  display: inline-block;
}

.h-phone__icon {
  width: 29px;
  height: 29px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/icons/phone.png);
}

.h-phone__tel {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 26px;
  font-family: "FuturaPTMedium", sans-serif;
  text-transform: uppercase;
  line-height: 29px;
}

.h-phone__tel:hover {
  text-decoration: none;
  color: #000;
}

.h-phone__btn {
  clear: right;
  font-size: 16px;
  color: #000;
  font-family: "FuturaPTMedium", sans-serif;
  letter-spacing: 90%;
  text-decoration: none;
  padding-left: 11px;
  position: relative;
}

.h-phone__btn::before {
  content: '';
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  background-color: #ffcc28;
  position: absolute;
  left: 0;
  top: 10px;
}

.h-phone__btn:hover {
  color: #ffcc28;
  text-decoration: none;
}

.h-basket {
  padding-left: 51px;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "FuturaPTMedium", sans-serif;
  letter-spacing: 90%;
  text-decoration: none;
  line-height: 29px;
}

.h-basket__icon {
  content: '';
  width: 33px;
  height: 29px;
  display: block;
  background-image: url(../img/icons/basket.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
  top: 0;
  position: absolute;
}

.h-basket__icon span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background-color: #ffcc28;
  color: #000;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.h-basket__sum {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 15px;
  color: #000;
  margin-top: -10px;
  transition: 0.5s;
}

.h-basket:hover {
  color: #ffcc28;
  text-decoration: none;
}

.h-basket:hover .h-basket__sum {
  color: #ffcc28;
}

.p-top {
  position: relative;
}

.p-top__img {
  display: block;
  width: 100%;
}

.p-top__flex {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-top__description {
  text-align: center;
}

.p-top__description p {
  font-size: 36px;
  color: #fff;
  line-height: 48px;
  display: block;
  font-family: "FuturaRegular", sans-serif;
  padding-top: 20px;
}

.p-top__logo {
  display: inline-block;
}

.p-top__logo img {
  display: block;
}

.p-dost {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.p-dost__top {
  height: 94px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-dost__top img {
  display: block;
  max-height: 90%;
}

.p-dost__title {
  color: #1c2127;
  font-size: 30px;
  font-family: "FuturaPTMedium", sans-serif;
  display: block;
  padding-bottom: 6px;
  position: relative;
  margin-bottom: 20px;
}

.p-dost__title::after {
  content: '';
  width: 62px;
  height: 4px;
  display: block;
  background-color: #ffcc28;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.p-dost__description {
  font-size: 22px;
  color: #1c2127;
  line-height: 26px;
}

.p-prods {
  border: 1px solid transparent;
  display: block;
  text-align: center;
  position: relative;
}

.p-prods__top {
  height: 264px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.p-prods__img {
  max-width: 95%;
  max-height: 95%;
  display: block;
}

.p-prods__title {
  color: #1c2127;
  font-family: "FuturaPTMedium", sans-serif;
  padding: 0 15px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  height: 37px;
  overflow: hidden;
}

.p-prods__title:hover {
  text-decoration: none;
  color: #1c2127;
}

.p-prods__price {
  color: #a12a30;
  font-size: 26px;
  padding: 0 15px;
  font-family: "NeoSansProRegular", sans-serif;
  text-align: center;
  font-stretch: condensed;
  padding-bottom: 16px;
  padding-top: 16px;
}

.p-prods__price span {
  font-size: 12px;
  color: #1c2127;
}

.p-prods__hidden {
  display: none;
  width: auto;
  padding-bottom: 38px;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 3;
  border-left: 1px solid #ebedf3;
  border-right: 1px solid #ebedf3;
  border-bottom: 1px solid #ebedf3;
  background-color: #fff;
}

.p-prods__description {
  font-size: 18px;
  color: #1c2127;
  line-height: 22px;
  font-family: "FuturaPTBook";
  display: block;
  text-align: center;
  padding: 0 30px 24px;
}

.p-prods__button {
  display: inline-block;
}

.p-prods:hover {
  border-color: #ebedf3;
  border-bottom: none;
}

.p-prods:hover .p-prods__hidden {
  display: block;
}

.btn {
  background-color: #ffcc28;
  width: 248px;
  line-height: 53px;
  display: block;
  text-align: center;
  color: #1c2127;
  font-size: 18px;
  font-family: "FuturaPTMedium", sans-serif;
  padding: 0;
  border-radius: 0;
}

.btn:hover {
  color: #1c2127;
}

.btn-little {
  line-height: 30px;
  width: 166px;
}

.p-title {
  color: #1c2127;
  font-size: 48px;
  font-family: "NeoSansProRegular", sans-serif;
}

.p-title__white {
  color: #fff;
  font-size: 48px;
  padding-bottom: 6px;
  position: relative;
}

.p-title__white::after {
  width: 62px;
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: #ffcc28;
  margin: 0 auto;
}

.p-tabs {
  display: block;
  font-size: 0;
  padding-bottom: 36px;
}

.p-tabs__item {
  display: inline-block;
  margin-right: 45px;
  color: #1c2127;
  font-size: 29px;
  font-family: "FuturaPTBook", sans-serif;
  cursor: pointer;
}

.p-tabs__item:last-child {
  margin-right: 0;
}

.p-tabs__item:hover {
  text-decoration: none;
  color: #ffcc28;
}

.p-tabs .active {
  color: #ffcc28;
}

.p-rec {
  text-align: center;
}

.p-rec__top {
  height: 282px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-rec__img {
  display: block;
  max-width: 100%;
  max-height: 95%;
}

.p-rec__title {
  font-size: 30px;
  color: #1c2127;
  font-family: "FuturaPTMedium", sans-serif;
}

.p-rec__description {
  color: #1c2127;
  font-size: 22px;
  line-height: 26px;
  font-family: "FuturaPTBook", sans-serif;
  padding-top: 16px;
  display: block;
}

.p-rec:hover {
  text-decoration: none;
  color: #1c2127;
}

.p-open__left {
  max-width: 66.666667%;
}

.p-open__left h2 {
  color: #fff;
  font-family: "FuturaRegular", sans-serif;
  font-size: 48px;
  line-height: 60px;
}

.p-open__left p {
  font-size: 22px;
  color: #fff;
  line-height: 26px;
  padding-bottom: 26px;
  font-family: "FuturaPTBook", sans-serif;
}

.p-open__right {
  position: absolute;
  right: 0;
  bottom: -14px;
  display: block;
}

.p-open__img {
  display: block;
}

.p-open__text {
  padding-right: 142px;
  padding-top: 34px;
}

.p-articles {
  text-align: center;
}

.p-articles__top {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-articles__img {
  width: 100%;
}

.p-articles__title {
  color: #1c2127;
  font-size: 30px;
  font-family: "FuturaPTMedium", sans-serif;
}

.p-articles__description {
  font-size: 22px;
  line-height: 26px;
  color: #1c2127;
  font-family: "FuturaPTBook", sans-serif;
  display: block;
  padding-top: 10px;
  height: 88px;
  overflow: hidden;
}

.p-articles__button {
  padding-top: 22px;
}

.p-articles:hover {
  text-decoration: none;
  color: #1c2127;
}

.p-about {
  text-align: center;
}

.p-about p {
  font-size: 22px;
  color: #fff;
  font-family: "FuturaPTBook", sans-serif;
  line-height: 26px;
  display: block;
  padding-bottom: 26px;
}

.p-contacts {
  padding: 28px 22px;
  background-color: #fff;
}

.p-contacts__item {
  color: #1c2127;
  font-size: 22px;
  line-height: 24px;
  font-family: "FuturaPTBook", sans-serif;
  margin-bottom: 25px;
  padding-left: 53px;
  position: relative;
}

.p-contacts__item:last-child {
  margin-bottom: 0;
}

.p-contacts__icon {
  width: 53px;
  height: 30px;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  display: block;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: left center;
}

.f-logo {
  display: inline-block;
}

.f-logo__img {
  display: block;
}

.f-nav__item {
  padding-bottom: 12px;
  display: block;
}

.f-nav__item:last-child {
  padding-bottom: 0;
}

.f-nav__link {
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-family: "FuturaPTMedium", sans-serif;
}

.f-nav__link:hover {
  text-decoration: none;
  color: #ffcc28;
}

.f-info__item {
  padding-bottom: 16px;
  display: block;
}

.f-info__link {
  font-size: 16px;
  display: inline-block;
  font-family: "FuturaPTMedium", sans-serif;
  color: #fff;
  padding-left: 32px;
  position: relative;
}

.f-info__link:hover {
  text-decoration: none;
  color: #ffcc28;
}

.f-info__icon {
  width: 20px;
  height: 19px;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -9.5px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: left center;
}

.f-social {
  font-size: 0;
  display: inline-block;
}

.f-social__item {
  display: inline-block;
  margin-right: 6px;
}

.f-social__item:last-child {
  margin-right: 0;
}

.f-social__link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.popup {
  display: none;
}

.popup__title {
  color: #1c2127;
  font-size: 48px;
  font-family: "NeoSansProRegular", sans-serif;
  text-align: left;
  margin-bottom: 1rem;
}

#map {
  min-height: 443px;
}

#map > img {
  display: block;
  width: 100%;
  height: auto;
}

.form-group label {
  font-size: 18px;
  font-family: "FuturaPTBook", sans-serif;
  color: #1c2127;
}
